@model Book

<div class="BookDetailes">
    <h1>Book Details</h1>

   
    <h3>Book Title: @Model.Title</h3>
    <h3>Author: @Model.Author</h3>
    <h3>Price: @Model.Price</h3>
    <h3>Genre: @Model.Genre</h3>

</div>

